*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 375px;
    border: 1px solid rgb(173, 57, 57);
    margin: 0 auto;
}

header{
    height: 80px;
    background-color: rgb(250, 193, 88);
    /*flexBox*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid orange;
}

header h1 {
    font-size: 24px;
    color: white;
}

.form-control{
    margin: 10px;
}

.form-control label{
    font-weight: bold;
}

.form-control input[type="text"]{
    border: 2px solid whitesmoke;
    width: 95%;
    height: 25px;
    padding-left: 10px;
    border-radius: 5px;
}

.form-button{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.form-button button{
    background-color: coral;
    padding: 10px;
    cursor:pointer ;
    font-size: 14px;
}

.form-button button:hover{
background-color: rgb(252, 101, 47);
}