*{
    padding: 0px;
    margin: 0px;;
}


.principal{
    background-color: rgb(238, 236, 236);
    width: 21%;
    margin-top: 40px;
    margin-left: 40px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);;
}

.secundaria img{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.secundaria{
    bottom: 3px;
    color: black;
    position: relative;
    text-align: left;
}

.w3-row{
    justify-content: center;
    display: flex;
}
